qiskit>=1.2
qiskit-aer>=0.15
qiskit-ibmq-provider>=0.8
qiskit-ibm-runtime>=0.31
scikit-learn>=1.5
scipy>=1.14
h5py>=3.12
matplotlib>=3.6.1
pylatexenc>=2.10
torch>=2.1
torchaudio>=0.13.0
torchvision>=0.14.0
torch-geometric>=2.1.0.post1
pennylane>=0.38.0
tensorflow>=2.18.0
numpy>=1.26