qiskit==0.37.1
qiskit-aer==0.10.4
qiskit-ibmq-provider==0.19.2
qiskit_machine_learning==0.4.0
qiskit-nature==0.3.1
qiskit-nature[pyscf]==0.3.1
scikit-learn==1.1.2
h5py==3.7.0
matplotlib==3.6.1
pylatexenc==2.10
torch==1.13.1
torchaudio==0.13.0
torchvision==0.14.0
torch-geometric==2.1.0.post1